@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white, 50%)) {
     ::-webkit-scrollbar {
        width: $size;
        height: $size;
    }
     ::-webkit-scrollbar-thumb {
        background: $foreground-color;
        border-radius: 10px;
    }
     ::-webkit-scrollbar-track {
        background: $background-color;
    } // For Internet Explorer
    body {
        scrollbar-face-color: $foreground-color;
        scrollbar-track-color: $background-color;
    }
}

@include scrollbars(.5em, #DBDBDB);
$wrapper-padding: 2em !default;
.wrapper {
    padding: $wrapper-padding $wrapper-padding 0px $wrapper-padding;
    min-height: 100%;
    max-height: 100%;
    .wide {
        width: 100%;
    }
    .overflow {
        height: calc(100vh - 30px - #{$wrapper-padding});
        overflow-y: auto;
    }
}

.collection {
    padding: 0px;
    border: 0px;
}

.collection-item {
    min-height: 0px;
    &:hover {
        filter: brightness(85%);
    }
}

#content {
    overflow: hidden;
    height: calc(100vh - 30px);
    background-color: #F5F5F5
}

%vertical-align {
    display: flex;
    align-items: center;
}

.read {
    color: #A0A0A0
}

.unread {
    font-weight: bolder;
}

.mail-item {
    cursor: pointer;
    // display: flex;
    align-items: center;
    // height: 40px;
    padding: 2px 1rem 2px 1rem;
    background-color: #FFF;
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    &:hover {
        filter: brightness(90%);
    }
    label {
        padding-left: 1.7em;
    }
    .multi {
        display: flex;
        align-items: center;
        display: inline-block;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .star {
        display: flex;
        align-items: center;
        display: inline-block;
        height: 100%;
    }
    .text {
        display: flex;
        align-items: center;
        max-width: 100%;
        min-width: 100%;
        width: 100%;
        height: 100%;
        .sender {
            display: flex;
            align-items: center;
            width: 25%;
            height: 100%; // padding: 0rem 1.5rem 0rem 1.5rem;
            .sender-text {
                display: inline-block;
                width: 100%;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }
        .subject {
            display: flex;
            align-items: center;
            width: 60%;
            height: 100%; // padding: 0rem 1.5rem 0rem 1.5rem;
            .subject-text {
                display: inline-block;
                width: 100%;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }
        .date {
            width: 15%;
            float: right;
            position: relative;
            right:25.25px;
        }
    }
}

.selected-mail-item {
  cursor: inherit;
  filter: brightness(100%) !important;
}

.padding {
    padding: 10px 10px 10px 10px;
}

.electron-in-page-search-window {
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  width: 300px !important;
  height: 36px !important;
  background-color: white !important;
}

.electron-in-page-search-window.search-inactive {
  visibility: hidden;
}

.electron-in-page-search-window.search-active {
  visibility: visible;
}
